/* smartphones, iPhone, portrait 480x320 phones */

@media (min-width:320px) {  
	.section {
		font-size: 100%;
	}

	.section::before {
		content: 'smartphones, iPhone, portrait 480x320 phones - font-size: 100%';
		color: red;
		font: bolder 1.2em "Fira Sans", sans-serif;
	}
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

@media (min-width:481px) {  
	.section {
		font-size: 120%;
	}

	.section::before {
		content: 'portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide - font-size: 120%';
		color: red;
		font: bolder 1.2em "Fira Sans", sans-serif;
	}
}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

@media (min-width:641px) {  
	.section {
		font-size: 140%;
	}

	.section::before {
		content: 'portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones - font-size: 120%';
		color: red;
		font: bolder 1.2em "Fira Sans", sans-serif;
	}
}

/* tablet, landscape iPad, lo-res laptops ands desktops */

@media (min-width:961px) {  
	.section {
		font-size: 160%;
	}

	.section::before {
		content: 'tablet, landscape iPad, lo-res laptops ands desktops - font-size: 160%';
		color: red;
		font: bolder 1.2em "Fira Sans", sans-serif;
	}
}

/* big landscape tablets, laptops, and desktops */

@media (min-width:1025px) {  
	.section {
		font-size: 180%;
	}

	.section::before {
		content: 'big landscape tablets, laptops, and desktops - font-size: 180%';
		color: red;
		font: bolder 1.2em "Fira Sans", sans-serif;
	}
}

/* hi-res laptops and desktops */

@media (min-width:1281px) {  
	.section {
		font-size: 200%;
	}

	.section::before {
		content: 'hi-res laptops and desktops - font-size: 200%';
		color: red;
		font: bolder 1.2em "Fira Sans", sans-serif;
	}
}
